* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  background-color: #29ebcd;
  height: 15%;
  width: 100%;
  padding-left: 5%;
  padding-top: 4vw;
  padding-bottom: 2vw;
  font-size: 20px;
}
.main-title {
  text-align: left;
  padding-left: 5%;
  color: white;
}
.checkin {
  text-align: left;
  padding-left: 5%;
  color: white;
}
